.InputField {
  position: relative;
  width: 100%;
}

.Input {
  /* background-color: yellow; */
  padding: 0.8rem 2rem;
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid orange;
  border-radius: 100rem;
  border-radius: 0;
  color: grey;
  transition: all 0.2s;
  cursor: pointer;
  width: 100%;
}

.Input:focus {
  outline: none;
  /* border-color: skyblue; */
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.Label {
  padding: 0 0.3rem;
  background-color: white;
  color: orange;
  position: absolute;
  transform: translate(1rem, -50%);
  font-size: 1rem;
}
